# Node Server Environment
NODE_ENV=development
PORT=5001

# ==========================================
# 1. LOCAL DEVELOPMENT DATABASE (Your machine)
# ==========================================
MONGODB_URI=mongodb://localhost:27017/qa_app

# ==========================================
# 2. PRODUCTION DATABASE (For Vercel Env Vars)
# ==========================================
# MONGODB_URI=mongodb+srv://reakzyy6:<password>@reak.qfaviy1.mongodb.net/qa_app?retryWrites=true&w=majority&appName=reak

# JWT Authentication Secret Key
JWT_SECRET=34a475d379dfd0ffa7488b50f97f867a7f77075a82965cae4d6d57cba0415cd2c2ffcb3b6295adc402c0f3ac006a140faf244d7c40248e2b9f27b995330d9489

# Initial Production Super Admin Account Configuration
ADMIN_NAME=System Super Admin
ADMIN_USERNAME=superadmin
ADMIN_EMAIL=admin@pecc.com
ADMIN_PASSWORD=YourStrongProductionPassword2026!
